* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(168, 168, 230);
}

.makeClaimCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.logoImgDiv {
    width: 70px;
    height: 70px;
}

.authDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
