* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(168, 168, 230);
}

.headerDiv h1 {
    margin-right: 7px;
    /* font-family: ; */
}

.makeClaimCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.logoImgDiv {
    width: 70px;
    height: 70px;
    padding: 7px 0 0 7px;
}

.RegLoginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 60vh;

    padding: 5px;
    transition: 0.1s ease;
}

.RegLoginDiv input {
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

.RegLoginDiv #login {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.authDiv {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(160, 183, 201);
    border: 1px rgb(189, 182, 182) solid;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.303);
}

.closeRegLogin {
    display: flex;
    justify-content: space-between;
}

.closeRegLogin button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}

.allMainClaimsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mainClaimCard {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(189, 182, 182) solid;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.303);
    padding: 5px;
    transition: 0.1s ease;
}

.debateFrameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainClaimDiv {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(189, 182, 182) solid;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.303);
    padding: 5px;
    transition: 0.1s ease;
    margin-top: 10px;
}

.buttonsDiv {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(189, 182, 182) solid;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.303);
    padding: 5px;
    margin: 3px;
    transition: 0.1s ease;
}

.allSubClaims {
    display: flex;
}

.allProClaims {
    margin: 10px;
}

.proClaimButtonDiv img {
    width: 25px;
    height: 25px;
}

.allConClaims {
    margin: 10px;
}

.conClaimButtonDiv img {
    width: 25px;
    height: 25px;
}

button {
    margin: 2px;
    padding: 2px;
    transition: 0.5s ease;
}

button:hover {
    font-weight: bold;
    color: white;
    background-color: black;
}

.showCommentModal img {
    width: 15px;
    height: 15px;
}

.rating img {
    width: 15px;
    height: 15px;
}

.showCommentModal button {
    border: none;
}

.subClaimCard {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(189, 182, 182) solid;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.303);
    padding: 5px;
    margin: 3px;
    transition: 0.1s ease;
    width: 50vh;
    height: 25vh;
}

.eachSubClaim {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(189, 182, 182) solid;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.303);
    padding: 5px;
    margin: 3px;
    transition: 0.1s ease;
}
